## Deliverable 3. Create a Travel Itinerary Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets
import numpy as np

# Import API key
from config import G_API_Key

# Configure gmaps
gmaps.configure(api_key=G_API_Key)

In [3]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_Vacation.csv")

# vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Kapaa,US,80.58,broken clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
1,4,Hobyo,SO,83.25,broken clouds,5.3505,48.5268,Iftin hotel hobyo
2,10,Mabay,PH,84.15,moderate rain,6.0577,124.4666,Bautista Lodging House
3,11,Buctzotz,MX,82.69,broken clouds,21.2000,-88.7833,Buctoztz
4,12,Rikitea,PF,75.33,moderate rain,-23.1203,-134.9692,People ThankYou

In [4]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """

<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>

"""


# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]


# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [5]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Laguna"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Laguna"]

vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Santa Ana"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Stephenville"]
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Claremore"]

In [21]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.

start = vacation_start["Lat"].to_numpy()[0],vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0],vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0],vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0],vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0],vacation_stop3["Lng"].to_numpy()[0]

In [44]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
CA2OK = gmaps.directions_layer(
    start, end, waypoints=[stop1, stop2, stop3], show_markers=True, travel_mode='DRIVING', stroke_color='blue', stroke_weight=3.0, stroke_opacity=0.7)
fig.add_layer(CA2OK)
fig

Figure(layout=FigureLayout(height='420px'))

In [55]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,450,Laguna,US,75.49,clear sky,38.4210,-121.4238,Holiday Inn Express & Suites Elk Grove Central...
1,601,Santa Ana,US,75.25,clear sky,33.7456,-117.8678,"Motel 6 Santa Ana, CA"
2,559,Stephenville,US,78.87,clear sky,32.2207,-98.2023,La Quinta Inn & Suites by Wyndham Stephenville
3,245,Claremore,US,75.33,overcast clouds,36.3126,-95.6161,Super 8 by Wyndham Claremore OK

In [62]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """

<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>Country</dt><dd>{Country}</dd>

<dt>City</dt><dd>{City}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>

"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
city_info_box = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]



# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
itinerary_layer_df = itinerary_df[["Lat", "Lng"]]

In [64]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=3.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=city_info_box)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))